@model OnlineStore.OrderViewDetailViewModel

@{
    ViewBag.Title = "Details";
    try
    {
        var role = Convert.ToInt16(Session["userrole"].ToString());
        if (role == 1)
        {
            Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
        }
        else if (role == 2)
        {
            Layout = "~/Views/Shared/StaffLayoutPage.cshtml";
        }
        else if (role == 3)
        {
            Layout = "~/Views/Shared/DeveloperLayoutPage.cshtml";
        }
    }
    catch (Exception)
    {

    }
}

<script>
    jQuery(document).ready(function () {
        Main.init();
    });
</script>


<div class="row">

    <div class="col-sm-2">
        <a href="@Url.Action("Show", "Orders")" class="demo btn btn-blue">
            <i class="fa fa-arrow-left">
            </i> | Back to list
        </a>
    </div>

</div>
<div class="panel">
    <div class="panel-heading">
        <i class="fa fa-external-link-square"></i>
        View Order
        <div class="panel-tools">
            <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
            </a>

        </div>
    </div>
    <div class="panel-body">
        <form role="form" class="form-horizontal" method="POST">
            @if (ViewBag.DisplayMessage == "success")
            {
                if (ViewData.ModelState[""] != null)
                {
                    <div class="bs-example">
                        <div class="alert alert-success fade in">
                            <a href="#" class="close" data-dismiss="alert">×</a>
                            <strong>Success!</strong>@Html.ValidationSummary(true, "", new { @class = "text-success" })<br />
                        </div>
                    </div>
                }
            }
            else if (ViewBag.DisplayMessage == "Info")
            {
                if (ViewData.ModelState[""] != null)
                {
                    <div class="bs-example">
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">×</a>
                            <strong>Alert!</strong>@Html.ValidationSummary(true, "", new { @class = "text-danger" })<br />
                        </div>
                    </div>
                }
            }

           
            <div>

                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Ordername)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ordername)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductName)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Amount)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Country)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.State)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.State)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.City)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TransactionNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TransactionNumber)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TransactionStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TransactionStatus)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DeliveryStatus)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DeliveryStatus)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderType)
                        <hr />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.OrderDate)
                        <hr />
                    </dd>

                </dl>
            </div>
        </form>
    </div>
</div>


