@model FEChangeOldPasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/FrontEndLayoutPage.cshtml";
}

<style type="text/css">
    
    input:required:focus {
        border: 1px solid red;
        outline: none;
    }

    input:required:hover {
        opacity: 4;
    }
</style>

<div id="content">
    <div class="container">
        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("index","Home")">Home</a>
                </li>
                <li>Change Password</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** CUSTOMER MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Customer section</h3>
                </div>

                <div class="panel-body">

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="@Url.Action("index", "Home")"><i class="fa fa-list"></i> My orders</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/home/ViewWishList")"><i class="fa fa-heart"></i> My wishlist</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/home/ChangePassword")"><i class="fa fa-lock"></i> Change Password</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/home/UpdateProfile")"><i class="fa fa-user"></i> Update Profile</a>
                        </li>
                        <li>
                            <a href="@Url.Action("logout","Home")"><i class="fa fa-sign-out"></i> Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.col-md-3 -->
            <!-- *** CUSTOMER MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">
                
                <h3>Change password</h3>

               @using (Html.BeginForm())
                 {
                    if (ViewBag.DisplayMessage == "success")
                    {
                        if (ViewData.ModelState[""] != null)
                        {
                            <div class="bs-example">
                                <div class="alert alert-success fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Success!</strong>@Html.ValidationSummary(true, "", new { @class = "text-success" })<br />
                                </div>
                            </div>
                        }
                    }
                    else if (ViewBag.DisplayMessage == "Info")
                    {
                        if (ViewData.ModelState[""] != null)
                        {
                            <div class="bs-example">
                                <div class="alert alert-danger fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Error!</strong>@Html.ValidationSummary(true, "", new { @class = "text-danger" })<br />
                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserOldPassword, htmlAttributes: new { @class = "control-label col-md-2" })                               
                                @Html.EditorFor(model => model.UserOldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserOldPassword, "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.UserConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserConfirmPassword, "", new { @class = "text-danger" })                                
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save new password</button>
                    </div>
               }

                <hr>
                <br />
               
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

