
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Shared/FrontEndLayoutPage.cshtml";
}
@section metaTags
{
    <meta name='title' content='@ViewBag.Title' />
    <meta name='keywords' content='@ViewBag.MetaKeywords' />
    <meta name='description' content='@ViewBag.MetaDescription' />
}
<style type="text/css">
    input:required:focus {
        border: 1px solid red;
        outline: none;
    }

    input:required:hover {
        opacity: 4;
    }

   
</style>
<div id="content">
    <div class="container">
        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>Forgot Password</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** PAGES MENU ***
            _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Core Values</h3>
                </div>

                <div class="panel-body">
                    <ul style=" list-style-image:url('/images/arrows.gif'); line-height:0.73cm;">
                        <li>Integrity</li>
                        <li>
                            Excellence
                        </li>
                        <li>Availability</li>
                        <li>Dependability</li>
                    </ul>

                </div>
            </div>
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Our Brands </h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">

                        <ul style=" list-style-image:url('/images/bullet_arrow.png'); line-height:0.73cm;">
                            <li>Wahl</li>
                            <li>Dodo</li>
                            <li>Nicky Clarke</li>
                            <li>Babyliss</li>
                            <li>Russel Hobbs</li>
                            <li>Orly</li>
                            <li>Gelee</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- *** PAGES MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">

                <h4>Password Recovery Request</h4>
                <p class="text-muted">
                    Please enter your email address a new password will be sent to your inbox,
                     if the email address is in our database, please do well to change your password upon first login.
                </p>
                <form action="@Url.Action("ForgotPassword", "Home")" method="post">
                    @if (ViewBag.DisplayMessage == "success")
                    {
                        if (ViewData.ModelState[""] != null)
                        {
                            <div class="bs-example">
                                <div class="alert alert-success fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Success!</strong>@Html.ValidationSummary(true, "", new { @class = "text-success" })<br />
                                </div>
                            </div>
                        }
                    }
                    else if (ViewBag.DisplayMessage == "Info")
                    {
                        if (ViewData.ModelState[""] != null)
                        {
                            <div class="bs-example">
                                <div class="alert alert-danger fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Error!</strong>@Html.ValidationSummary(true, "", new { @class = "text-danger" })<br />
                                </div>
                            </div>
                        }
                    }
                   
                    <div class="row">                  
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="emailAddress">Email</label>
                                <input type="email" class="form-control" id="emailAddress" name="emailAddress" required>
                            </div>
                        </div>                       
                        <div class="col-sm-12 text-left">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Reset Password</button>
                        </div>
                    </div>
                </form>
                <hr>
                <br />
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->