@model FEUserRegistrationViewModel
@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Shared/FrontEndLayoutPage.cshtml";
}
@section metaTags
{
    <meta name='keywords' content='@ViewBag.MetaKeywords' />
    <meta name='description' content='@ViewBag.MetaDescription' />
}
<style type="text/css">
    input:required:focus {
        border: 1px solid red;
        outline: none;
    }

    input:required:hover {
        opacity: 4;
    }
    select:required:focus {
        border: 1px solid red;
        outline: none;
    }

    select:required:hover{
        opacity: 4;
    }
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

            $(document).ready(function () {
                $("#Country").change(function () {
                    if ($(this).find(':selected').text() == "Nigeria") {
                        $("#showStateLga").show();
                        $("#showStateLgaText").hide();
                    } else {
                        $("#showStateLga").hide();
                        $("#showStateLgaText").show();
                    }
                });
            });
</script>


<script type="text/jscript">
        $(document).ready(function () {
            $('#State').change(function () {
                $.getJSON('/Home/LgaList/' + $('#State').val(), function (data) {
                    var items = '<option>---Select LGA---</option>';
                    $.each(data, function (i, Lga) {
                        items += "<option value='" + Lga.Text + "'>" + Lga.Text + "</option>";
                    });
                    $('#lga').html(items);
                });
            });
        });
</script>
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<div id="content">
    <div class="container">
        <div class="col-md-12">

            <ul class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li>Registration</li>
            </ul>

        </div>

        <div class="col-md-3">
            <!-- *** PAGES MENU ***
        _________________________________________________________ -->
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Core Values</h3>
                </div>

                <div class="panel-body">
                    <ul style=" list-style-image:url('/images/arrows.gif'); line-height:0.73cm;">
                        <li>Integrity</li>
                        <li>
                            Excellence
                        </li>
                        <li>Availability</li>
                        <li>Dependability</li>
                    </ul>

                </div>
            </div>
            <div class="panel panel-default sidebar-menu">

                <div class="panel-heading">
                    <h3 class="panel-title">Our Brands </h3>
                </div>

                <div class="panel-body">
                        <div class="form-group">
                            
                            <ul style=" list-style-image:url('/images/bullet_arrow.png'); line-height:0.73cm;">
                                <li>Wahl</li>
                                <li>Dodo</li>
                                <li>Nicky Clarke</li>
                                <li>Babyliss</li>
                                <li>Russel Hobbs</li>
                                <li>Orly</li>
                                <li>Gelee</li>
                            </ul>
                        </div>
                </div>
            </div>
          
            <!-- *** PAGES MENU END *** -->
        </div>

        <div class="col-md-9">
            <div class="box">

                <h3>Account Registration</h3>

                <form method="post" action="@Url.Action("Register", "Home")">
                    @if (ViewBag.DisplayMessage == "success")
                    {
                        if (ViewData.ModelState[""] != null)
                        {
                            <div class="bs-example">
                                <div class="alert alert-success fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Success!</strong>@Html.ValidationSummary(true, "", new { @class = "text-success" })<br />
                                </div>
                            </div>
                        }
                    }
                    else if (ViewBag.DisplayMessage == "Info")
                    {
                        if (ViewData.ModelState[""] != null)
                        {
                            <div class="bs-example">
                                <div class="alert alert-danger fade in">
                                    <a href="#" class="close" data-dismiss="alert">×</a>
                                    <strong>Error!</strong>@Html.ValidationSummary(true, "", new { @class = "text-danger" })<br />
                                </div>
                            </div>
                        }
                    }
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserFirstName, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserFirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserLastName, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.BillingAddress, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.BillingAddress, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BillingAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserAddress1, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserAddress1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserAddress1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserAddress2, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserAddress2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserAddress2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserPhone, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                @*<select class="form-control" id="gender" name="gender" required></select>*@
                                @Html.DropDownList("gender", ViewBag.GenderID as SelectList, "---Select---", new { id = "gender", @class = "form-control", @Required = "required" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <label for="country">Country</label>
                                @Html.DropDownList("Country", ViewBag.CountryID as SelectList, "---Select---", new { id = "Country", @class = "form-control", @Required = "required" })
                            </div>
                        </div>
                        <div id="showStateLga" style="display:block">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserState, htmlAttributes: new { @class = "col-sm-6" })
                                    @Html.DropDownList("State", ViewBag.StateId as SelectList, "---Select---", new { id = "State", @class = "form-control", @Required = "required" })
                                    @*<select class="form-control" id="state" name="state" required></select>*@
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserCity, htmlAttributes: new { @class = "col-sm-6" })
                                    <select class="form-control" id="lga" name="lga" required>
                                        <option value="">---Select---</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.UserCity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div id="showStateLgaText" style="display:none">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserState, htmlAttributes: new { @class = "col-sm-6" })
                                    <input type="text" class="form-control" id="txtState" name="txtState" required>
                                    @Html.ValidationMessageFor(model => model.UserState, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserCity, htmlAttributes: new { @class = "col-sm-6" })
                                    <input type="text" class="form-control" id="txtCity" name="txtCity" required>
                                    @Html.ValidationMessageFor(model => model.UserCity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        @*<div id="showStateLgaText" style="display:none">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserState, htmlAttributes: new { @class = "col-sm-6" })
                                <div class="col-md-10">
                                    @Html.Editor("txtState", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserState, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserCity, htmlAttributes: new { @class = "col-sm-6" })
                                <div class="col-md-10">
                                    @Html.Editor("txtCity", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserCity, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>*@
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.UserConfirmPassword, htmlAttributes: new { @class = "col-sm-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.UserConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="checkbox" class="grey agree" id="agree" value="yes" name="terms" required ="required">
                                <label for="agree">I agree to the Terms and Conditions of Service</label>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" onclick="return Validate()"><i class="fa fa-save"></i> Register</button>
                        </div>
                    </div>
                </form>

                <hr>
                <br />

            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}